<div class="card">
    <div class="card-header bg-white">
        单项选择 @Component
    </div>
    <div class="card-body">
        <p>选择器：
            <code>ts-radio </code>
            <ts-radio [color]="theme.getColor()" label="单项选择"></ts-radio>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">属性名称</th>
                    <th scope="col">类型</th>
                    <th scope="col">说明</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">color</th>
                    <td>
                        <code>string</code>
                    </td>
                    <td>颜色设置，bootstrap的基础颜色[danger,light,info...]</td>
                </tr>
                <tr>
                    <th scope="row">value</th>
                    <td>
                        <code>any</code>
                    </td>
                    <td>选项的对应的值，当这个选项被选中时可以获取这个值</td>
                </tr>
                <tr>
                    <th scope="row">checked</th>
                    <td>
                        <code>boolean</code>
                    </td>
                    <td>支持双向绑定，设置、获取当前选项是否被选中</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped mt-2">
            <thead>
                <tr>
                    <th scope="col">事件名称</th>
                    <th scope="col">事件类型</th>
                    <th scope="col">说明</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">checkedChange</th>
                    <td>
                        <code>boolean</code>
                    </td>
                    <td>每次选项状态改变时会触发，返回当前选中状态</td>
                </tr>
                <tr>
                    <th scope="row">groupHandle</th>
                    <td>
                        <code>{{"{ checked: boolean, value?: any }"}}</code>
                    </td>
                    <td>每次选项状态改变时会触发，返回当前选中状态和选项值，一般用于选项组中的绑定</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header bg-white">
        多项选择 @Component
    </div>
    <div class="card-body">
        <p>选择器：
            <code>ts-checkbox </code>
            <ts-checkbox [color]="theme.getColor()" label="多项选择"></ts-checkbox>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">属性名称</th>
                    <th scope="col">类型</th>
                    <th scope="col">说明</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">color</th>
                    <td>
                        <code>string</code>
                    </td>
                    <td>颜色设置，bootstrap的基础颜色[danger,light,info...]</td>
                </tr>
                <tr>
                    <th scope="row">value</th>
                    <td>
                        <code>any</code>
                    </td>
                    <td>选项的对应的值，当这个选项被选中时可以获取这个值</td>
                </tr>
                <tr>
                    <th scope="row">checked</th>
                    <td>
                        <code>boolean</code>
                    </td>
                    <td>支持双向绑定，设置、获取当前选项是否被选中</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped mt-2">
            <thead>
                <tr>
                    <th scope="col">事件名称</th>
                    <th scope="col">事件类型</th>
                    <th scope="col">说明</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">checkedChange</th>
                    <td>
                        <code>boolean</code>
                    </td>
                    <td>每次选项状态改变时会触发，返回当前选中状态</td>
                </tr>
                <tr>
                    <th scope="row">groupHandle</th>
                    <td>
                        <code>{{"{ checked: boolean, value?: any }"}}</code>
                    </td>
                    <td>每次选项状态改变时会触发，返回当前选中状态和选项值，一般用于选项组中的绑定</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header bg-white">
        单项选择群组 @Directive
    </div>
    <div class="card-body">
        <p>选择器：
            <code>*[tsRadioGroup] </code>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">属性名称</th>
                    <th scope="col">类型</th>
                    <th scope="col">说明</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">value</th>
                    <td>
                        <code>any</code>
                    </td>
                    <td>支持双向绑定，可以获取/设置选项组的值</td>
                </tr>

            </tbody>
        </table>
        <table class="table table-striped mt-2">
            <thead>
                <tr>
                    <th scope="col">事件名称</th>
                    <th scope="col">事件类型</th>
                    <th scope="col">说明</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">valueChange</th>
                    <td>
                        <code>any</code>
                    </td>
                    <td>每次选项群组中的状态改变时会触发，返回当前选中选项的值</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header bg-white">
        多项选择群组 @Directive
    </div>
    <div class="card-body">
        <p>选择器：
            <code>*[tsCheckboxGroup] </code>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">属性名称</th>
                    <th scope="col">类型</th>
                    <th scope="col">说明</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">values</th>
                    <td>
                        <code>any[]</code>
                    </td>
                    <td>支持双向绑定，可以获取/设置选项组的值,这是一个所有选中的值的数组</td>
                </tr>

            </tbody>
        </table>
        <table class="table table-striped mt-2">
            <thead>
                <tr>
                    <th scope="col">事件名称</th>
                    <th scope="col">事件类型</th>
                    <th scope="col">说明</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">valueChange</th>
                    <td>
                        <code>any[]</code>
                    </td>
                    <td>每次选项群组中的状态改变时会触发，返回当前所有选中选项的值</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header bg-white">
        导入按钮模块
    </div>
    <div class="card-body">
        <ts-prism [code]="codes[0]" language="typescript"></ts-prism>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 col-xl-4 mb-3">
        <div class="card">
            <div class="card-header bg-white">
                单项选择
                <button tsBtn sm [color]="theme.getColor()" (click)="addRadio()" class="ml-3">添加选项</button>
                <button tsBtn sm [color]="theme.getColor()" (click)="removeRadio()">移除选项</button>
            </div>
            <div tsRadioGroup [(value)]="radioValue" #radioGroup="tsRadioGroup" class="card-body">
                <form class="form-inline">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-white" type="button">
                                数值
                            </button>
                        </div>
                        <input [value]="radioValue" type="text" class="form-control bg-white" readonly>
                    </div>
                </form>
                <ts-radio *ngFor="let radio of radios" [color]="theme.getColor()" [label]="radio.label" [value]="radio.value" (groupHandle)="radioGroup.applyRadioChange($event)"></ts-radio>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-4 mb-3">
        <div class="card">
            <div class="card-header bg-white">
                多项选择
                <button tsBtn sm [color]="theme.getColor()" (click)="addCheckbox()" class="ml-3">添加选项</button>
                <button tsBtn sm [color]="theme.getColor()" (click)="removeCheckbox()">移除选项</button>
            </div>
            <div tsCheckboxGroup [(values)]="checkboxValues" #checkboxGroup="tsCheckboxGroup" class="card-body">
                <form class="form-inline">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-white" type="button">
                                数值
                            </button>
                        </div>
                        <input [value]="checkboxValues" type="text" class="form-control bg-white" readonly>
                    </div>
                </form>
                <ts-checkbox *ngFor="let checkbox of checkboxs" [color]="theme.getColor()" [label]="checkbox.label" [value]="checkbox.value"
                    (groupHandle)="checkboxGroup.applyCheckboxChange()"></ts-checkbox>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-4 mb-3">
        <div class="card">
            <div class="card-header bg-white">
                开关
            </div>
            <div class="card-body">
                <form class="form-inline">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-white" type="button">
                                数值
                            </button>
                        </div>
                        <input [value]="switchValue" type="text" class="form-control bg-white" readonly>
                    </div>
                </form>
                <ts-switch [color]="theme.getColor()" [(value)]="switchValue" [values]="{open:'开灯',close:'关灯'}"></ts-switch>
                <ts-switch [color]="theme.getColor()" [(value)]="switchValue" [values]="{open:'开灯',close:'关灯'}"></ts-switch>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header bg-white">
        按钮组
    </div>
    <div class="card-body">
        <form class="form-inline">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-white" type="button">
                        数值
                    </button>
                </div>
                <input [value]="buttonValue" type="text" class="form-control bg-white" readonly>
            </div>
            <div class="input-group mb-3 ml-2">
                <div class="input-group-prepend">
                    <button class="btn btn-white" type="button">
                        数值
                    </button>
                </div>
                <input [value]="buttonValues" type="text" class="form-control bg-white" readonly>
            </div>
        </form>
        <ts-btns outline [color]="theme.getColor()" [(value)]="buttonValue" [items]="buttons"></ts-btns>
        <ts-btns outline [multi]="true" [color]="theme.getColor()" [(value)]="buttonValues" [items]="buttons"></ts-btns>
    </div>
</div>