<div class="card">
    <div class="card-header bg-white">
        视频上传
    </div>
    <div class="card-body">
        <ts-video [color]="theme.getColor()" title="选择视频" [src]="videoUrl" sm></ts-video>
        <ts-video [color]="theme.getColor()" [config]="config" [useUpload]="true" title="选择视频" [(src)]="videoUrl" sm></ts-video>
        <ts-video [color]="theme.getColor()" [config]="config" [autoUpload]="true" title="选择视频" [(src)]="videoUrl" sm></ts-video>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header bg-white">
        音频上传
    </div>
    <div class="card-body">
        <ts-video [color]="theme.getColor()" title="选择音频" type="audio" [videoSize]="['200px','40px']" [src]="audioUrl" sm></ts-video>
        <ts-video [color]="theme.getColor()" [config]="config" [useUpload]="true" [videoSize]="['200px','40px']" type="audio" title="选择音频"
            [(src)]="audioUrl" sm></ts-video>
        <ts-video [color]="theme.getColor()" [config]="config" [autoUpload]="true" [videoSize]="['200px','40px']" type="audio" title="选择音频"
            [(src)]="audioUrl" sm></ts-video>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header bg-white">
        自定义选择文件
    </div>
    <div class="card-body">
        <input tsFile #fileDomOne="tsFile" (fileChange)="file=$event" type="file" accept=".doc,.docx">
        <button class="btn btn-white" (click)="fileDomOne.openFileDialog()">
            <i class="fa fa-folder-o fa-fw"></i>选择Word文档
        </button>
        <input tsFile #fileDomTwo="tsFile" (fileChange)="files=$event" type="file" multiple="true">
        <button class="btn btn-white" (click)="fileDomTwo.openFileDialog()">
            <i class="fa fa-folder-o fa-fw"></i>多选文件
        </button>
        <div class="text-info">
            <p class="m-0">{{file?.name}}</p>
        </div>
        <div *ngFor="let file of files" class="text-info">
            <p class="m-0">{{file.name}}</p>
        </div>
    </div>
</div>