<div class="row">
    <div class="col-lg-6">
        <div class="card rounded-0">
            <div class="card-header bg-white">按钮颜色</div>
            <div class="card-body">
                <button tsBtn>Default</button>
                <button tsBtn color="white">White</button>
                <button tsBtn color="primary">Primary</button>
                <button tsBtn color="secondary">Scondary</button>
                <button tsBtn color="success">Success</button>
                <button tsBtn color="danger">Danager</button>
                <button tsBtn color="warning">Warning</button>
                <button tsBtn color="info">Info</button>
                <button tsBtn color="light">Light</button>
                <button tsBtn color="dark">Dark</button>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card rounded-0">
            <div class="card-header bg-white">按钮尺寸</div>
            <div class="card-body">
                <button tsBtn sm>Small</button>
                <button tsBtn>Default</button>
                <button tsBtn lg>Large</button>
            </div>
        </div>
    </div>
</div>