.ts-datepicker-ym {
    height: 300px;
    width: 280px;
}

.ts-datepicker-ym-toolbar {
    height: 30px;
}

.ts-datepicker-ym tr {
    line-height: 25px;
}

.ts-datepicker-ym td {
    width: 33%;
}

// .ts-datepicker-ym td div {
//     margin-left: 15px;
//     margin-right: 15px;
//     margin-top: 10px;
//     margin-bottom: 10px;
// }
.ts-datepicker-ym td:hover button {
    color: white;
    background-color: #3e9cff;
    border-color: #3e9cff;
}