<div class="card">
    <div class="card-header bg-white">
        日期选择（年/月）&nbsp; 时间选择（时/分）
    </div>
    <div class="card-body">
        <div class="card p-3 ts-datepicker-ym d-inline-block">
            <div class="ts-datepicker-ym-toolbar d-flex justify-content-between">
                <div class="btn-group d-inline-block">
                    <button tsBtn sm>&lt;</button>
                    <button tsBtn sm>&nbsp;2018&nbsp;</button>
                    <button tsBtn sm>&gt;</button>
                </div>
                <div>
                    <button tsBtn sm class="ml-2">本月</button>
                    <button tsBtn sm class="ml-2">清空</button>
                </div>
            </div>
            <hr>
            <table class="w-100 text-center">
                <tbody>
                    <tr>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-primary">1月</button>
                        </td>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">2月</button>
                        </td>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">3月</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">4月</button>
                        </td>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">5月</button>
                        </td>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">6月</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">7月</button>
                        </td>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">8月</button>
                        </td>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">9月</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">10月</button>
                        </td>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">11月</button>
                        </td>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">12月</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="card p-3 ts-datepicker-hm  d-inline-block ml-3">
            <div class="ts-datepicker-ym-toolbar d-flex justify-content-between">
                <div>
                    <input value="23:59:59" class="form-control form-control-sm" type="text">
                </div>
                <div style="width:120px">
                    <button tsBtn sm class="ml-2">现在</button>
                    <button tsBtn sm class="ml-2">清空</button>
                </div>
            </div>
            <hr>
            <div class="d-flex text-center">
                <div class="ts-datepicker-hm-box">
                    <div *ngFor="let hour of hours.splice(0,6)">{{hour}}</div>
                </div>
                <div class="ts-datepicker-hm-box">
                    <div *ngFor="let minute of minutes.splice(0,6)">{{minute}}</div>
                </div>
                <div class="ts-datepicker-hm-box">
                    <div *ngFor="let second of seconds.splice(0,6)">{{second}}</div>
                </div>
            </div>
        </div> -->
    </div>
</div>