<div class="card">
    <div class="card-header bg-white">时间选择（时/分</div>
    <div class="card-body">
        <ts-timepicker [(ngModel)]="time" #timepicker="tsTimepicker" [color]="global.getValue('color')"></ts-timepicker>
        <div class="form-inline">
            <div class="input-group mb-3">
                <input [value]="time" tsToggle [target]="timepicker" [bind]="timepicker" type="text" class="form-control bg-white pointer"
                    readonly>
                <div class="input-group-append">
                    <button class="btn btn-white" type="button" tsToggle [target]="timepicker">
                        <i class="fa fa-clock-o"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header bg-white">
        日期选择（年/月）&nbsp;
    </div>
    <div class="card-body">
        <div class="form-inline">
            <div class="input-group mb-3">
                <input value="暂不可用" type="text" class="form-control bg-white pointer" readonly>
                <div class="input-group-append">
                    <button class="btn btn-white" type="button">
                        <i class="fa fa-calendar"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="card p-3 ts-datepicker-ym">
            <div class="ts-datepicker-ym-toolbar d-flex justify-content-between">
                <div class="btn-group d-inline-block">
                    <button tsBtn sm>&lt;</button>
                    <button tsBtn sm>&nbsp;2018&nbsp;</button>
                    <button tsBtn sm>&gt;</button>
                </div>
                <div>
                    <button tsBtn sm class="ml-2">本月</button>
                    <button tsBtn sm class="ml-2">清空</button>
                </div>
            </div>
            <hr>
            <table class="w-100 text-center">
                <tbody>
                    <tr>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-primary">1月</button>
                        </td>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">2月</button>
                        </td>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">3月</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">4月</button>
                        </td>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">5月</button>
                        </td>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">6月</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">7月</button>
                        </td>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">8月</button>
                        </td>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">9月</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">10月</button>
                        </td>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">11月</button>
                        </td>
                        <td class="pointer">
                            <button class="mb-3 btn btn-sm btn-light">12月</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </div>
</div>