<div class="row">
    <div class="col-12 col-lg-6 mb-2">
        <div class="card">
            <div class="card-header bg-white">自定义下拉菜单</div>
            <div class="card-body">
                <div tsDropdown>
                    <button tsToggle tsBtn class="dropdown-toggle">Default</button>
                    <div tsDropMenu>
                        <button class="dropdown-item pointer">Item One</button>
                        <button class="dropdown-item pointer">Item Two</button>
                        <button class="dropdown-item pointer">Item Three</button>
                    </div>
                </div>
                <div tsDropdown dropup>
                    <button tsToggle tsBtn class="dropdown-toggle">Dropup</button>
                    <div tsDropMenu>
                        <button class="dropdown-item pointer">Item One</button>
                        <button class="dropdown-item pointer">Item Two</button>
                        <button class="dropdown-item pointer">Item Three</button>
                    </div>
                </div>
                <div tsDropdown>
                    <button tsToggle class="btn btn-link dropdown-toggle">Link</button>
                    <div tsDropMenu>
                        <button class="dropdown-item pointer">Item One</button>
                        <button class="dropdown-item pointer">Item Two</button>
                        <button class="dropdown-item pointer">Item Three</button>
                    </div>
                </div>
                <div tsDropdown>
                    <button tsToggle class="btn btn-link text-danger rounded-circle">
                        <i class="fa fa-fw fa-dropbox"></i>
                    </button>
                    <div tsDropMenu>
                        <button class="dropdown-item pointer">Item One</button>
                        <button class="dropdown-item pointer">Item Two</button>
                        <button class="dropdown-item pointer">Item Three</button>
                    </div>
                </div>
                <div tsDropdown>
                    <button tsToggle tsBtn class="dropdown-toggle">Left</button>
                    <div tsDropMenu left>
                        <button class="dropdown-item pointer">Item One</button>
                        <button class="dropdown-item pointer">Item Two</button>
                        <button class="dropdown-item pointer">Item Three</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 mb-2">
        <div class="card">
            <div class="card-header bg-white">集成下拉</div>
            <div class="card-body">
                <ts-dropdown [items]="dropdowns" [(value)]="dropdownValue" text="Select"></ts-dropdown>
                <ts-dropdown [items]="dropdowns" [(value)]="dropdownValue" text="Up" dropup></ts-dropdown>
                <ts-dropdown [items]="stringDropdowns" [(value)]="dropdownValue" [useNumber]="1" text="Number"></ts-dropdown>
                <ts-dropdown [items]="stringDropdowns" text="String"></ts-dropdown>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-6 mb-2">
        <div class="card">
            <div class="card-header bg-white">下拉选择</div>
            <div class="card-body">
                <input class="form-control mb-2" type="text" [(ngModel)]="selectValue">
                <ts-select class="form-control p-0" [(value)]="selectValue" [items]="['Amsterdam', 'Antwerp', 'Athens', 'Barcelona',
                'Berlin', 'Birmingham', 'Bradford', 'Bremen', 'Brussels', 'Bucharest',
                'Budapest', 'Cologne', 'Copenhagen', 'Dortmund', 'Dresden', 'Dublin',
                'Düsseldorf', 'Essen', 'Frankfurt', 'Genoa', 'Glasgow', 'Gothenburg',
                'Hamburg', 'Hannover', 'Helsinki', 'Kraków', 'Leeds', 'Leipzig', 'Lisbon',
                'London', 'Madrid', 'Manchester', 'Marseille', 'Milan', 'Munich', 'Málaga',
                'Naples', 'Palermo', 'Paris', 'Poznań', 'Prague', 'Riga', 'Rome',
                'Rotterdam', 'Seville', 'Sheffield', 'Sofia', 'Stockholm', 'Stuttgart',
                'The Hague', 'Turin', 'Valencia', 'Vienna', 'Vilnius', 'Warsaw', 'Wrocław',
                'Zagreb', 'Zaragoza', 'Łódź']"></ts-select>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 mb-2">
        <div class="card">
            <div class="card-header bg-white">自定义下拉选择</div>
            <div class="card-body">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text bg-white">Avatar</label>
                    </div>
                    <ts-select class="form-control p-0" [color]="theme.getColor()" (optionChange)="diyOption = $event" [items]="diySelects"></ts-select>
                </div>
                <div [innerHTML]="diyOption?.content||''">

                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 mb-2">
        <div class="card">
            <div class="card-header bg-white">下拉尺寸</div>
            <div class="card-body">
                <input class="form-control bg-white mb-2" type="number" [(ngModel)]="dropdownValue">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Options</label>
                    </div>
                    <ts-select class="form-control p-0" sm [(value)]="dropdownValue" [items]="dropdowns"></ts-select>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Options</label>
                    </div>
                    <ts-select class="form-control p-0" [(value)]="dropdownValue" [items]="dropdowns"></ts-select>
                </div>
                <div class="input-group input-group-lg mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Options</label>
                    </div>
                    <ts-select class="form-control p-0" lg [(value)]="dropdownValue" [items]="dropdowns"></ts-select>
                </div>
            </div>
        </div>
    </div>
</div>