/** 
 * 引入bootstrap
 */

@import "~bootstrap/scss/functions";
// 参数配置
@import "variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/alert";

/**
 * bootstrap 样式BUG修复
 */

.dropup .dropdown-menu {
    bottom: auto !important;
}

.dropdown-menu{
    // box-shadow: rgb(185, 185, 185) 1px 2px 3px;
}

/**
 * bootstrap4 样式调整
 */

* {
    font-family: Helvetica Neue For Number, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

a,
button,
input,
select,
textarea {
    outline: 0 none !important;
    text-decoration: none !important;
    z-index: 0 !important;
    box-shadow: 0px 0px 0px white !important;
}

textarea {
    height: 100px;
}

div,
span {
    outline: 0 none !important;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.btn:disabled {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    cursor: not-allowed !important;
}

.table td,
.table th {
    vertical-align: middle !important;
}

/*bootstrap4 样式拓展*/

.pointer {
    cursor: pointer;
}

.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

@each $color,
$value in $theme-colors {
    .tab-border-#{$color} {
        border-top: 3px solid #{$value} !important;
    }
}

.m-btn .btn{
    margin-left: $spacer * .25;
}

.m-btn .btn:first-child{
    margin-left: 0;
}


.btn-white,
.btn-outline-white {
    color: $dark;
    border-color: $gray-400;
}

.btn-outline-white:hover,
.btn-outline-white:active {
    color: $dark;
    border-color: $gray-400;
}

.btn-outline-white:not(:disabled):not(.disabled):active,
.btn-outline-white:not(:disabled):not(.disabled).active,
.show>.btn-outline-white.dropdown-toggle {
    color: $dark;
    border-color: $gray-400;
    background-color: $gray-300;
}

.btn-outline-white.disabled,
.btn-outline-white:disabled {
    color: $gray-500;
}

.label-required::before {
    content: '* ';
    color: $red;
}

.hr-light {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.rounded-top-0 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.rounded-bottom-0 {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.rounded-left-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.rounded-right-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.btn-icon {
    border-radius: 50%;
    height: 35px;
    width: 35px !important;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.btn-icon:hover {
    color: #fff !important;
}

.btn-icon:active {
    opacity: 0.8;
}

@each $color,
$value in $theme-colors {
    .btn-icon-#{$color} {
        color: #{$value} !important;
    }
    .btn-icon-#{$color}:hover {
        // background-color: #{$value} !important;
        @include gradient-bg($value);
    }
    .text-#{$color}-hover:hover{
        color: #{$value} !important;
        transition: color 0.3s;
    }
}

.hover{
    opacity: 0.5;
}
.hover:hover{
    transition: opacity 0.3s;
    opacity: 1;
}