<div class="bg-light h-100">
    <nav class="navbar navbar-light bg-white source-view-header position-absolute w-100">
        <a class="navbar-brand" href="#">图片.jpg</a>
        <div>
            <span (click)="test()" class="text-muted text-primary-hover mr-2 pointer">
                <i class="fa fa-fw fa-download mr-2"></i>下载
            </span>
            <span (click)="view.close()" class="text-muted text-danger-hover pointer">
                <i class="fa fa-times mr-2" aria-hidden="true"></i>关闭
            </span>
        </div>
    </nav>
    <div class="text-center h-100 source-view-content">
        <img src="assets/images/background/1.jpg">
    </div>
</div>