<div class="tapd-container d-flex flex-nowarp">
    <div *ngFor="let task of tasks" class="tapd-task bg-light mr-2 rounded">
        <div class="card-header border-0">
            <span>{{task.taskName}}</span>
            <i class="fa fa-bars fa-lg pull-right mt-1 pointer"></i>
        </div>
        <div class="tapd-task-list p-2">
            <div *ngFor="let item of task.taskItems" class="tapd-task-card mb-2 p-2 rounded bg-white">
                <div class="media">
                    <ts-checkbox color="primary"></ts-checkbox>
                    <div class="media-body">
                        {{item.taskName}}
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="pl-2">
                        <span class="badge badge-primary">
                            <i class="fa fa-fw fa-clock-o"></i>{{item.taskCloseTime}}
                        </span>
                        <span *ngIf="item.taskFileNum > 0" class="text-muted">
                            <i class="fa fa-paperclip fa-fw ml-2"></i>{{item.taskFileNum}}
                        </span>
                        <span *ngIf="item.taskMessageNum > 0" class="text-muted">
                            <i class="fa fa-comments-o fa-fw ml-2"></i>{{item.taskMessageNum}}
                        </span>
                    </div>
                    <img class="rounded-circle border border-ligth" width="40" height="40" src="assets/images/avatar/avatar.jpg">
                </div>
            </div>
        </div>
        <app-tapd-task-add *ngIf="task.isEditMode" (saveHandle)="addTaskItem($event,task)" (cancelHandle)="task.isEditMode=false"></app-tapd-task-add>
        <div *ngIf="!task.isEditMode" (click)="task.isEditMode=true" class="tapd-task-footer text-muted card-footer border-0 pointer">
            <i class="fa fa-fw fa-plus"></i>
            <span>添加新任务...</span>
        </div>
    </div>
    <!-- <div class="tapd-task bg-light mr-2 rounded"></div>
    <div class="tapd-task bg-light mr-2 rounded"></div>
    <div class="tapd-task bg-light mr-2 rounded"></div>
    <div class="tapd-task bg-light mr-2 rounded"></div>
    <div class="tapd-task bg-light mr-2 rounded"></div> -->
</div>