.tapd-container{
    // overflow: auto;
}
.tapd-task{
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
}
.task-title-input{
    width: 200px;
}
.task-plus{
    border: 1px dashed #ccc;
    height: 80px;
    line-height: 80px;
    margin: 10px;
}
.task-plus:hover{
    color: #54a7ff;
    transition: color 0.3s; 
}
.tapd-task-footer span{
    opacity: 0;
}
.tapd-task-footer:hover span{
    transition: opacity 0.5s; 
    opacity: 1;
}
.tapd-task-list{

}

.tapd-task-card{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.31);
    word-break: break-all;
}

.user-select-item{
    line-height: 40px;
    width: 350px;
}
.user-select-item-text{
    max-width: 200px;
}
.modal-media-left{
    width: 80px;
}
.media-file-item div{
    line-height: 30px;
}
.media-file-item:hover{
    background-color: rgb(240, 240, 240);
}
.badge-add-btn{
    color: #ccc;
}
.badge-add-btn:hover{
    color: #54a7ff;
}
.quill-content{
    max-height: 300px;
    overflow: hidden;
}