<div class="modal-header">
    <h5 class="modal-title">
        <span class="badge bg-light">番剧爱好百日计划/看番计划</span>
    </h5>
    <button type="button" class="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="media">
        <ts-checkbox color="primary"></ts-checkbox>
        <div class="media-body">
            {{taskItem.taskName}}
        </div>
    </div>
    <div class="d-flex justify-content-between mt-2">
        <div class="pl-2">
            <span class="badge badge-primary">
                <i class="fa fa-fw fa-clock-o"></i>{{taskItem.taskCloseTime}}
            </span>
            <span *ngIf="taskItem.taskFileNum > 0" class="text-muted">
                <i class="fa fa-paperclip fa-fw ml-2"></i>{{taskItem.taskFileNum}}
            </span>
            <span *ngIf="taskItem.taskMessageNum > 0" class="text-muted">
                <i class="fa fa-comments-o fa-fw ml-2"></i>{{taskItem.taskMessageNum}}
            </span>
        </div>
        <img class="rounded-circle border border-ligth" width="40" height="40" src="assets/images/avatar/avatar.jpg">
    </div>
    <hr>
    <div class="media">
        <span class="text-muted modal-media-left">
            <i class="fa fa-fw fa-file-text-o"></i>说明</span>
        <div class="media-body">
            <div *ngIf="isQuillEdit">
                <div tsQuill [(content)]="taskItem.taskDescription" [options]="options" style="height:300px;"></div>
            </div>
            <div *ngIf="!isQuillEdit" (click)="showQuillEdit()" [innerHTML]="taskItem.taskDescription" class="pointer quill-content"></div>
            <div *ngIf="isQuillEdit" class="text-right mt-1 m-btn">
                <button class="btn btn-sm btn-white border-0">取消</button>
                <button (click)="saveQuillContent()" class="btn btn-sm btn-primary">保存</button>
            </div>
            <button type="button" class="btn btn-link">显示全部</button>
        </div>
    </div>
    <div class="media mt-4">
        <span class="text-muted modal-media-left">
            <i class="fa fa-fw fa-sort-amount-asc"></i>优先级</span>
        <div class="media-body text-danger">
            非常紧急
        </div>
    </div>
    <div class="media mt-4">
        <span class="text-muted modal-media-left">
            <i class="fa fa-fw fa-bookmark-o"></i>标签</span>
        <div class="media-body">
            <ts-badge *ngFor="let badge of badges" [label]="badge.badgeLabel" [color]="badge.badgeType"></ts-badge>
            <div tsDropdown class="align-top">
                <i tsToggle class="text-muted text-primary-hover pt-2 pr-2 pb-2 fa fa-plus-circle fa-lg pointer" aria-hidden="true"></i>
                <div tsDropMenu>
                    <div class="dropdown-item pointer mb-2">
                        <i class="fa fa-fw fa-edit"></i>编辑列表
                    </div>
                    <div class="dropdown-item pointer mb-2">
                        <i class="fa fa-fw fa-trash"></i>删除列表
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="media text-muted mt-4">
        <span class="modal-media-left">
            <i class="fa fa-fw fa-paperclip"></i>附件</span>
        <div class="media-body">共0个</div>
    </div>
    <div class="media media-file-item pointer pt-2 pb-2 text-muted mt-4">
        <img height="30" width="30" src="/assets/images/icon/video.svg">
        <div class="media-body pl-2">学习看番，第一讲</div>
    </div>
    <div class="pointer mt-2 pl-1 text-primary">
        <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
        添加文件
    </div>
    <hr>
    <div class="media text-muted mt-4">
        <span class="modal-media-left">
            <i class="fa fa-fw fa-users"></i>参与者</span>
        <div class="media-body">共5人</div>
    </div>
    <div>
        <img class="rounded-circle mr-2 mt-2 border border-muted" width="32" height="32" src="assets/images/avatar/1.jpg">
        <img class="rounded-circle mr-2 mt-2 border border-muted" width="32" height="32" src="assets/images/avatar/2.jpg">
        <img class="rounded-circle mr-2 mt-2 border border-muted" width="32" height="32" src="assets/images/avatar/3.jpg">
        <img class="rounded-circle mr-2 mt-2 border border-muted" width="32" height="32" src="assets/images/avatar/4.jpg">
        <img class="rounded-circle mr-2 mt-2 border border-muted" width="32" height="32" src="assets/images/avatar/4.jpg">
        <img class="rounded-circle mr-2 mt-2 pointer hover" width="32" height="32" src="assets/images/icon/plus.svg">
    </div>
</div>
<div class="modal-footer">

</div>