// 内容主体，包含菜单和视图显示面板
.main-content {
    padding-top: 60px;
    height: 100vh;
}

// 左侧菜单
.main-content-menu{
    transition: min-width 0.5s;    
    min-width: 250px;
    box-shadow: 0px 1px 3px #aaa;
}
.main-content-menu-static{
    width: 250px;
}

.menu-close{
    overflow: hidden;
    transition: min-width 0.5s;
    min-width: 1px;
    width: 1px;
}
.menu-close:hover{
    transition: min-width 0.5s;
    min-width: 250px;
}

// 视图面板
.main-content-view {
    flex-grow:1;
    overflow: auto;
    padding:15px;
}

// 底部填充
.main-content-bottom{
    height: 15px;
    width: 100%;
}

.app-head-title {
    width: 250px;
}

.dropdown-item:active {
    background-color: #eee;
}

.navbar {
   box-shadow: 0px 1px 4px #ccc;
}

.badge-message {
    position: relative;
    border: none;
}

.badge-message[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -1px;
    right: -1px;
    font-size: .7em;
    background: red;
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px rgb(179, 179, 179);
}

.ts-footer {
    height: 60px;
}