<nav tsNavbar [color]="global.getValue('color')">
    <a tsNavBrand class="app-head-title pr-5">
        <!-- <h5 class="m-0">管理系统模板</h5> -->
        <img height="35" src="http://echarts.baidu.com/images/logo.png" alt="管理系统模板">
    </a>
    <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div tsNavList>
        <div class="app-breadcrumb">
            <ts-menu-push (itemClick)="setPage($event);menuPad.setActive($event)" [items]="menuPush.items" color="light" outline></ts-menu-push>
            <!-- <ts-nav-breadcrumb [breadcrumbs]="breadcrumbs" (breadcrumbActiveChange)="goPage($event)"></ts-nav-breadcrumb> -->
        </div>
    </div>
    <button class="badge-message mr-3" data-badge="17" src="https://png.icons8.com/ios/40/ffffff/message-group-filled.png">
    </button>
    <div tsDropdown diy>
        <button tsToggle class="btn btn-link">
            <img height="30" src="https://png.icons8.com/ios/40/ffffff/name-filled.png">
        </button>
        <div tsDropMenu [offsetX]="-50" [offsetY]="10">
            <button (click)="signOut()" class="dropdown-item">
                <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                <span>退出当前账户</span>
            </button>
            <button class="dropdown-item">
                <i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i>
                <span>修改资料</span>
            </button>
        </div>
    </div>
    <div tsDropdown>
        <button tsToggle class="btn btn-link">
            <img height="30" src="https://png.icons8.com/ios-glyphs/50/ffffff/paint-palette.png">
        </button>
        <div tsDropMenu [offsetX]="-90" [offsetY]="10">
            <button *ngFor="let theme of themes" (click)="changeTheme(theme.CLASS)" class="dropdown-item text-{{theme.CLASS}}">
                <i class="fa fa-fw fa-square"></i>
                <span>{{theme.NAME}}</span>
            </button>
        </div>
    </div>
</nav>
<div class="ts-content">
    <div class="h-100">
        <nav class="ts-content-sidebar h-100">
            <ts-menu #menuPad="tsMenu" [config]="menuConfig" (menuActiveChange)="goPage($event)" [items]="menuModels" [avatars]="avatars"
                [color]="global.getValue('color')"></ts-menu>
        </nav>
        <main class="ts-content-main bg-light h-100 p-2">
            <ts-cssload *ngIf="global.getValue('lazyload');" [color]="global.getValue('color')"></ts-cssload>
            <!-- <div class="bg-white w-100 p-2 mb-2 border">
                <ts-menu-push (itemClick)="setPage($event);menuPad.setActive($event)" [items]="menuPush.items" [color]="global.getValue('color')"
                    outline></ts-menu-push>
            </div> -->
            <div [class.d-none]="global.getValue('lazyload')">
                <router-outlet></router-outlet>
                <div class="ts-footer"></div>
            </div>
        </main>
    </div>
</div>