<div class="card rounded-0 m-btn mb-2">
    <div class="card-header bg-white">菜单管理</div>
    <div class="card-body">
        <button (click)="editMenuGroup()" tsBtn color="success">添加菜单组</button>
        <button (click)="editMainMenu(activeGroup)" [disabled]="!activeGroup" tsBtn color="success">添加主要菜单</button>
        <button (click)="editChildMenu(activeMenu)" [disabled]="!activeMenu" tsBtn color="success">添加子菜单</button>
        <button (click)="loadDatas()" class="btn btn-white">
            <i class="fa fa-refresh fa-fw"></i>刷新数据
        </button>
    </div>
</div>
<ts-tabs #tsTabs [tabs]="['菜单组','主菜单','子菜单','预览']" [target]="tsTabPads" [color]="global.getValue('color')" activeTab="菜单组"></ts-tabs>
<div #tsTabPads='tsTabs' tsTabs class="card rounded-0 border-top-0">
    <!-- 菜单组 -->
    <div tsTab tab='菜单组' class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr class="font-weight-bold bg-light">
                        <td>排序</td>
                        <td>组名</td>
                        <td>操作</td>
                    </tr>
                    <tr *ngFor="let menuGroup of menuGroups;index as i">
                        <td>{{i+1}}</td>
                        <td>{{menuGroup.menuGroupName}}</td>
                        <td>
                            <a class="btn-icon btn-icon-danger" title="删除">
                                <i class="fa fa-lg fa-fw fa-trash-o align-middle"></i>
                            </a>
                            <a (click)="editMenuGroup(menuGroup)" class="btn-icon btn-icon-info" title="编辑">
                                <i class="fa fa-lg fa-fw fa-edit align-middle"></i>
                            </a>
                            <a (click)="showMainMenus(menuGroup)" class="btn-icon btn-icon-dark" title="主菜单列表">
                                <i class="fa fa-lg fa-fw fa-bars align-middle"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 主菜单 -->
    <div tsTab tab='主菜单' class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr class="font-weight-bold bg-light">
                        <td>排序</td>
                        <td>菜单名称</td>
                        <td>图标</td>
                        <td>图片</td>
                        <td>操作</td>
                    </tr>
                    <tr *ngFor="let mainMenu of activeMainMenus;index as i">
                        <td>{{i+1}}</td>
                        <td>{{mainMenu.menuTitle}}</td>
                        <td>
                            <i [ngClass]="mainMenu.menuIcon"></i>
                        </td>
                        <td>{{mainMenu.menuImage}}</td>
                        <td>
                            <a class="btn-icon btn-icon-danger" title="删除">
                                <i class="fa fa-lg fa-fw fa-trash-o align-middle"></i>
                            </a>
                            <a (click)="editMainMenu(activeGroup,mainMenu)" class="btn-icon btn-icon-info" title="编辑">
                                <i class="fa fa-lg fa-fw fa-edit align-middle"></i>
                            </a>
                            <a (click)="showChildMenus(mainMenu)" class="btn-icon btn-icon-dark" title="子菜单列表">
                                <i class="fa fa-lg fa-fw fa-bars align-middle"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 子菜单 -->
    <div tsTab tab='子菜单' class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr class="font-weight-bold bg-light">
                        <td>排序</td>
                        <td>菜单名称</td>
                        <td>链接</td>
                        <td>操作</td>
                    </tr>
                    <tr *ngFor="let childMenu of childMenus;index as i">
                        <td>{{i+1}}</td>
                        <td>{{childMenu.menuTitle}}</td>
                        <td>
                            <a [routerLink]="childMenu.menuUrl">{{childMenu.menuUrl}}</a>
                        </td>
                        <td>
                            <a class="btn-icon btn-icon-danger" title="删除">
                                <i class="fa fa-lg fa-fw fa-trash-o align-middle"></i>
                            </a>
                            <a class="btn-icon btn-icon-info" title="编辑">
                                <i class="fa fa-lg fa-fw fa-edit align-middle"></i>
                            </a>
                            <a class="btn-icon btn-icon-dark" title="主菜单列表">
                                <i class="fa fa-lg fa-fw fa-bars align-middle"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 预览 -->
    <div tsTab tab='预览' class="card-body">

    </div>
</div>