<div class="row pt-4">
    <div class="col-xl-3 col-md-6 mb-5">
        <div class="card">
            <div class="card-body">
                <div class="icon-item text-right">
                    <i class="left-icon bg-danger text-center fa fa-bar-chart"></i>
                    <p class="text-muted">平台统计</p>
                    <h4 class="text-right text-danger">+10245</h4>
                </div>
                <hr>
                <p>
                    <small class="text-danger">
                        <i class="fa fa-bar-chart"></i>
                        <span>平台运行统计数目 </span>
                        <i class="fa fa-angle-right"></i>
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-5">
        <div class="card">
            <div class="card-body">
                <div class="icon-item text-right">
                    <i class="left-icon bg-warning text-center fa fa-eye"></i>
                    <p class="text-muted">访问量</p>
                    <h4 class="text-right text-warning">+54</h4>
                </div>
                <hr>
                <p>
                    <small class="text-warning">
                        <i class="fa fa-eye"></i>
                        <span>今日站点访问量 </span>
                        <i class="fa fa-angle-right"></i>
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-5">
        <div class="card">
            <div class="card-body">
                <div class="icon-item text-right">
                    <i class="left-icon bg-success text-center fa fa-wechat"></i>
                    <p class="text-muted">新增用户</p>
                    <h4 class="text-right text-success">+54</h4>
                </div>
                <hr>
                <p>
                    <small class="text-success">
                        <i class="fa fa-wechat"></i>
                        <span>今日新增用户 </span>
                        <i class="fa fa-angle-right"></i>
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-5">
        <div class="card">
            <div class="card-body">
                <div class="icon-item text-right">
                    <i class="left-icon bg-info text-center fa fa-comments-o"></i>
                    <p class="text-muted">反馈报告</p>
                    <h4 class="text-right text-info">+200</h4>
                </div>
                <hr>
                <p>
                    <small class="text-info">
                        <i class="fa fa-comments-o"></i>
                        <span>今日收到的用户反馈报告 </span>
                        <i class="fa fa-angle-right"></i>
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row home-card-list m-btn">
    <div class="col-xl-4 mb-3">
        <div class="card">
            <img class="card-img-top" src="assets/images/material-1.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Internal Accounts Facilitator</h4>
                <p class="card-text">Deleniti eos omnis consequatur quasi quia. Hic nesciunt assumenda autem voluptas necessitatibus quos accusantium
                    molestiae. Quia beatae eius accusantium error saepe beatae aut. Debitis ad tempora minima sed et. Minus
                    soluta quaerat possimus.</p>
                <div class="text-right">
                    <span class="text-muted pull-left font-weight-light">—— 2017年11月6日</span>
                    <button class="btn btn-danger">
                        <i class="fa fa-fw fa-heart"></i>喜欢+11</button>
                    <button class="btn btn-info text-white">
                        <i class="fa fa-fw fa-star"></i>收藏+8</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 mb-3">
        <div class="card">
            <img class="card-img-top" src="assets/images/material-2.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Nikolas Thiel</h4>
                <p class="card-text">Deleniti eos omnis consequatur quasi quia. Hic nesciunt assumenda autem voluptas necessitatibus quos accusantium
                    molestiae. Quia beatae eius accusantium error saepe beatae aut. Debitis ad tempora minima sed et. Minus
                    soluta quaerat possimus.</p>
                <div class="text-right">
                    <span class="text-muted pull-left font-weight-light">—— 2017年11月6日</span>
                    <button class="btn btn-danger">
                        <i class="fa fa-fw fa-heart"></i>喜欢+12</button>
                    <button class="btn btn-info text-white">
                        <i class="fa fa-fw fa-star"></i>收藏+9</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 mb-3">
        <div class="card">
            <img class="card-img-top" src="assets/images/material-3.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Solutions</h4>
                <p class="card-text">Deleniti eos omnis consequatur quasi quia. Hic nesciunt assumenda autem voluptas necessitatibus quos accusantium
                    molestiae. Quia beatae eius accusantium error saepe beatae aut. Debitis ad tempora minima sed et. Minus
                    soluta quaerat possimus.</p>
                <div class="text-right">
                    <span class="text-muted pull-left font-weight-light">—— 2017年11月6日</span>
                    <button class="btn btn-danger">
                        <i class="fa fa-fw fa-heart"></i>喜欢+13</button>
                    <button class="btn btn-info text-white">
                        <i class="fa fa-fw fa-star"></i>收藏+10</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row home-card-list">
    <div class="col-sm-6 mb-3">
        <div class="card rounded-0">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="border-0">#</th>
                            <th scope="col" class="border-0">First Name</th>
                            <th scope="col" class="border-0">Last Name</th>
                            <th scope="col" class="border-0">Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3">
        <div class="card rounded-0">
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="text-info">
                        <tr>
                            <th scope="col" class="border-0">No.</th>
                            <th scope="col" class="border-0">First Name</th>
                            <th scope="col" class="border-0">Last Name</th>
                            <th scope="col" class="border-0">Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card rounded-0">
            <div class="card-header bg-white">Media List</div>
            <div class="card-body">
                <ng-container *ngFor="let media of mediaList">
                    <div class="media">
                        <img class="mr-3 rounded-circle" height="50" [src]="media.avatar" alt="avatar">
                        <div class="media-body">
                            <h5 class="mt-0">{{media.nick}}</h5>
                            {{media.email}}.
                        </div>
                    </div>
                    <hr>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card rounded-0 bg-dark text-light">
            <div class="card-header">Media List</div>
            <div class="card-body">
                <ng-container *ngFor="let media of mediaList">
                    <div class="media">
                        <img class="mr-3 rounded-circle border" height="50" [src]="media.avatar" alt="avatar">
                        <div class="media-body">
                            <h5 class="mt-0">{{media.nick}}</h5>
                            {{media.email}}.
                        </div>
                    </div>
                    <hr class="hr-light">
                </ng-container>
            </div>
        </div>
    </div>
</div>